NECommon/Schemas/AppControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AppControl" xmlns:tns="http://www.example.org/AppControl" elementFormDefault="qualified">

    <complexType name="commandType">
    	<sequence>
    		<element name="pod-name" type="string"></element>
    		<element name="command-type" type="string"></element>
    		<element name="command" type="string"></element>
    		<element name="parameter1" type="string"></element>
            <element name="parameter2" type="string"></element>
        </sequence>
    </complexType>

    <element name="command" type="tns:commandType"></element>
</schema>