NECommon/Schemas/pvs.RequestVo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="www.tibco.com/plugin/java/xmlSchema/pvs.RequestVo" xmlns:tns="www.tibco.com/plugin/java/xmlSchema/pvs.RequestVo" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="RequestVo" type="tns:RequestVoType"/>

  <xs:complexType name="RequestVoType">
    <xs:sequence>
      <xs:element name="ConnectionId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

